# History files
.Rhistory

# RStudio files
.Rproj.user/

# macOS
.DS_Store

# Produced vignettes
vignettes/*.pdf

# biomod output
vignettes/ESM.BIOMOD*
vignettes/Moose

# Files in data folder
data/wc2*
data/climate_change_data/*
!data/climate_change_data/moose_occs.rds
data/inv_species_data/*
!data/inv_species_data/native_range
